<!DOCTYPE html>
<html>
<head>
    <title>Facility Selector</title>
</head>
<body>
    <h1>Choose a Facility Type</h1>
    <form method="post">
        <input type="radio" id="fire_station" name="facility" value="Fire Station" required>
        <label for="fire_station">Fire Station</label><br>
        <input type="radio" id="health_facility" name="facility" value="Health Facility" required>
        <label for="health_facility">Health Facility</label><br>
        <input type="radio" id="red_cross" name="facility" value="Red Cross" required>
        <label for="red_cross">Red Cross</label><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
